body {background-color: blueviolet;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px; }
h1 {color: crimson;
    background-color: midnightblue;  }
h2 {
    color:papayawhip}
p {text-align:justify}
